extends layout
block content
    section#one.main.special
        .container
            span.image.fit.primary
                img(src='images/pic03.jpg', alt='')
            .content
                header.major
                    h2 Thanks for contacting us
                p We aim to get back to as soon as possible.
            a.button.special.scrolly(href='/') Home